<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.samsung.android.health.permission.read_weight" />
    <uses-permission android:name="com.samsung.android.health.permission.write_weight" />

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.samsung.android.health.permission.read"
                android:value="com.samsung.health.weight" />
        <meta-data
                android:name="com.samsung.android.health.permission.write"
                android:value="com.samsung.health.weight" />

    </application>
</manifest>